* {
    box-sizing: border-box;
}
body{
    margin: 0;
}
header {
    justify-content: space-between;
    height: 80px;
    align-items: center;
    background-color:black;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.logo{
    height: 60px;
    margin-left: 50px;
    margin-top: 10px;
}
.nav1{
    display: flex;
    margin: auto;
}
.sec1 {
    display: flex;
    justify-content:space-between;
    align-items:center;
    margin: auto;
    padding: 5%;
    color: #0a1520;
    margin-top: 30px;
}
.div1 {
    margin-left: 300px;
    box-shadow: 5px;
    text-align: center;
}
.div3{
    margin-left: 100px;
    margin-bottom: 30px;
    font-style: italic;
    font-size: 25px;
}
.text1{
    border-color: black;
    border: 100px;
    font-size: larger;
}
.text2{
    border: 5px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    height: 100vh;
}
.parent{
    display: flex;
    /* width: 600px;
    height: 80px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden; */
}
.child {
    width: 400px;
    border-radius: 100%;
    margin: 15px;
    /* justify-content: space-between; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.child-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 0;
    transition: 0.5s all ease-out;
}
.img1 {
    width: 200px;
    border-radius: 100%;
    border-color: transparent;
}
.btn-scroll{
    background-color: #fff;
    color: #999;
    box-shadow: 0 0 10px #999;
    padding: 5px 8px;
    border:0;
    border-radius: 50%;
    margin: 0 5px;
    z-index: 1;
    cursor: pointer;
    transition: 1s;
}

#parent2 {
    display: flex;
}
.child2 {
    width: 400px;
    height: 350px;
    flex-direction: row;
    border-radius: 20px;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.images {
    width: 100%;
    border-radius: 20px;
}
.t1{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}